@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root {
	--animate-duration: 800ms;
	--animate-delay: 0.9s;
}

*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline: none;
}
input{
	height: 35px;
	width: auto;
	border-style: solid 1px;
	border-radius: 10px;
	color: black;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;	
}
header{
	text-align: center;
	background-color: black;
	width:100%;
	font-size: 60px;
	color: white;
}

#demo01{
	font-size: 17px;
	float: right;
	margin-top: 20px;
	color: white;
}

#card-form{
	text-align: center;
	font-size: 40px;
	color: white;
}

.modal-content .tools p{
	display: inline;
	text-align: center;
	position: relative;
	bottom: -150px;
}

.modal-content .tools img{
	margin-left: 25px;
}

.close-animatedModal span{
	font-size: 45px;
	color: #B22222;
	outline: none;
	margin: 10px;
	float: right;

}

.close-animatedModal img{
	position: relative;
	left: 45%;
	bottom: calc(100% - 76%);
	margin: 10px;

}

.close-animatedModal button:hover{
	cursor: pointer;
}

.close-animatedModal:hover{
	cursor: pointer;
}

header button:hover{
	cursor: pointer;
}

/* Float four columns side by side */
.column {
	float: left;
	width: 30%;
	padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
	position: relative;
	left: 70px;
	margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
.card .card-description{

	width: 100%;
}

/* Responsive columns */
@media screen and (max-width: 500px) {
	.column {
		position: relative;
		right: 69px;
		width: 100%;
		display: table;
		margin-bottom: 20px;
	}

	.column .card img{
		position: relative;
		width: auto;
		height: auto;
	}
}

/* Style the counter cards */
.card {
	margin-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
	height: 400px;
}
div.body-content{
	/** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
	padding-bottom: 150px;
}

footer{
	background: #929292;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 30px;
	padding-top: 5px;
	column-count: 3;
	color: #F0F0F0;
}

footer .content{
	margin-top: 15px;
	font-size: 20px;
}

footer .themes {
	margin-top: 15px;
	font-size: 20px;
}

footer .themes:hover {
	cursor: pointer;
}

@keyframes move{
	0%{
		opacity: 0.1;
		left: 0px;
		top: 0px;
	}


	100%{
		opacity: 1;
		left: 250px;
		display: block;
	}
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}