.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--main-black);
    color: var(--main-white);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover{opacity: 0.9;}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--main-purple);
    z-index: 1;
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

header h1 a{
    font-size: 30px;
    color: var(--main-white)
}

header .header-profile{
    position: relative;
}

header .header-user{
    display: flex;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

header .header-menu{
    position: absolute;
    top: -150px;
    right: 20px;
    background: var(--main-white);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: solid 4px var(--main-black);
    border-top: 0;
    z-index: 1;
}
header .show-menu{
    top: 57px;
}

.header-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.header-menu ul a{
    padding: 10px;
    color: var(--sec-black);
}

.header-menu li:last-child a{
    color: var(--main-red);
}

.header-register .button{
    padding: 8px 25px;
}

.main-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  gap: 60px;
  justify-content: center;
  margin-top: 150px;
}

.main-card {
    position: relative;
    overflow: hidden;
    height: 180px;
}

.card-image img{
    border-radius: 5px;
}

.main-card .release-date{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    background: var(--main-purple);
    padding: 0px 2px;
    border-radius: 4px;
}
.main-card:hover .release-date{display: flex;}

.card-content {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 130px;
    background: var(--sec-black);
    transition: .6s all ease-in-out;
}

.main-card:hover .card-content{
    top: 30px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(11px);
}

.card-content .card-title {
    font-weight: bold;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.card-content .card-description {
    font-size: 15px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-content .card-btns{
    display: flex;
    gap: 38px;
    padding: 10px;
    align-items: end;
    justify-content: flex-end;
}

.card-btns .card-btn-more{
    color: var(--white);
    background: var(--main-purple);
    padding: 5px 12px;
    border-radius: 10px;
}

.card-btns .card-btn-like{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.checkin {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: var(--main-black);
  justify-content: center;
  align-items: center;
}

.forms {
  display: flex;
  gap: 150px;
}

.form {
  background: var(--ter-black);
  color: var(--main-white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 400px;
}
.form div {
  display: flex;
  flex-direction: column;
}
.form p {margin-bottom: 40px;}
.form-control {position: relative;}
.form-control label {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}
.form-control input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--main-white);
  padding: 10px 5px;
  color: var(--main-white);
  margin-bottom: 30px;
}
.form-control input::placeholder {
  color: var(--main-white);
  opacity: 0.6;
}
.form-control img {
  width: 15px;
  position: absolute;
  top: 22px;
  right: 5px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  bottom: 10px;
  left: 0;
  visibility: hidden;
}
.form-control.success input {border-color: var(--main-green);}
.form-control.success img.ess {visibility: visible;}
.form-control.error input {border-color: var(--main-red);}
.form-control.error img.err,
.form-control.error small {
  visibility: visible;
  color: var(--main-red);
}
.form input[type=submit] {
  background: var(--main-purple);
  color: var(--main-white);
  padding: 10px 5px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
.form input[type=submit]:hover {opacity: 0.8;}

