.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--main-black);
    color: var(--main-white);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover{opacity: 0.9;}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--main-purple);
    z-index: 1;
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

header h1 a{
    font-size: 30px;
    color: var(--main-white)
}

header .header-profile{
    position: relative;
}

header .header-user{
    display: flex;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

header .header-menu{
    position: absolute;
    top: -150px;
    right: 20px;
    background: var(--main-white);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: solid 4px var(--main-black);
    border-top: 0;
    z-index: 1;
}
header .show-menu{
    top: 57px;
}

.header-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.header-menu ul a{
    padding: 10px;
    color: var(--sec-black);
}

.header-menu li:last-child a{
    color: var(--main-red);
}

.header-register .button{padding: 8px 25px;}

a {
  text-decoration: none;
}

.main-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  gap: 60px;
  justify-content: center;
  margin-top: 150px;
}

.main-card {
    position: relative;
    overflow: hidden;
    height: 180px;
}

.card-image img{
    border-radius: 5px;
}

.main-card .release-date{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    background: var(--main-purple);
    padding: 0px 2px;
    border-radius: 4px;
}
.main-card:hover .release-date{display: flex;}

.card-content {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 130px;
    background: var(--sec-black);
    transition: .6s all ease-in-out;
}

.main-card:hover .card-content{
    top: 30px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(11px);
}

.card-content .card-title {
    font-weight: bold;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.card-content .card-description {
    font-size: 15px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-content .card-btns{
    display: flex;
    gap: 38px;
    padding: 10px;
    align-items: end;
    justify-content: flex-end;
}

.card-btns .card-btn-more{
    color: var(--white);
    background: var(--main-purple);
    padding: 5px 12px;
    border-radius: 10px;
}

.card-btns .card-btn-like{
    border: 0;
    background: transparent;
    cursor: pointer;
}

